.event_manager table
{
	border-collapse: collapse;
	border: 2px solid black;
	margin-bottom: 14px;
	cursor: hand;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.event_manager td
{
	border: 1px solid black;
	width: 3em;
	height: 2.5em;
	text-align: center;
}

.event_manager .calendarTitle
{
	text-align: center;
	font-weight: bold;
	border-left: none;
	border-right: none;
}

.event_manager .calendarArrow
{
	font-weight: bold;
	border: none;
}

.event_manager .weekname
{
	height: 1.5em;
}

.event_manager .daymarked
{
	background-color: lime;
	font-weight: bolder;
}

.event_manager .today
{
	border: 3px solid red;
	font-weight: bolder;
}