.event_manager
{
	margin-bottom: 10px;
	/*zoom: 125%;*/
}

.event_manager *
{
	font-size: 12pt;
}

.calendar table
{
	border-collapse: collapse;
	border: 2px solid black;
	margin-right: 10px;
	
	cursor: hand;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calendar td
{
	border: 1px solid black;
	width: 3em;
	height: 2.5em;
	text-align: center;
}

.calendar .calendarTitle
{
	text-align: center;
	font-weight: bold;
	border-left: none;
	border-right: none;
}

.calendar .calendarArrow
{
	font-weight: bold;
	border: none;
}

.calendar .weekname
{
	height: 1.5em;
}

.calendar .daymarked
{
	background-color: lime;
	font-weight: bolder;
}

.calendar .today
{
	border: 3px solid red;
	font-weight: bolder;
}

.event_summary
{
	border: 1px solid black;
	padding: 0;
}

.event_summary table
{
	border: 1px solid black;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.event_summary td
{
	border: 1px solid black;
	width: 15em;
}

.event_summary_title
{
	height: 2.5em;
	text-align: center;
	font-weight: bold;
}

.event_summary_desc
{
	vertical-align: top;
	overflow-y: scroll;
}

.event_summary_desc_div
{
	font-size: 10pt;
	padding: 7px;
	max-height: 13em;
}

.desc_list
{
	margin-left: 0;
	padding-left: 16px;
	list-style-type: square;
}

.desc_list *
{
	font-size: 10pt;
}

.param
{
	font-weight: bold;
}

.header_logo
{
	width: 100%;
}